<?xml version="1.0"?>

<robot name="macros" xmlns:xacro="https://www.ros.org/wiki/xacro">

    <xacro:macro name="conn_origin" params="conn_name">
        <origin xyz="${conn_name[0]} ${conn_name[1]} ${conn_name[2]}"/>
    </xacro:macro>

    <xacro:macro name="read_stl_file"
                 params="filename 
                         scale 
                         xyz:=${list([0,0,0])} 
                         rpy:=${list([0,0,0])}">
        <visual>
            <geometry>
                <mesh filename="${filename}" scale="${scale} ${scale} ${scale}"/>
            </geometry>
            <origin rpy="${rpy[0]} ${rpy[1]} ${rpy[2]}" 
                    xyz="${xyz[0]} ${xyz[1]} ${xyz[2]}"/>
        </visual>
        <collision>
            <geometry>
                <mesh filename="${filename}" scale="${scale} ${scale} ${scale}"/>
            </geometry>
            <origin rpy="${rpy[0]} ${rpy[1]} ${rpy[2]}" 
                    xyz="${xyz[0]} ${xyz[1]} ${xyz[2]}"/>
        </collision>
    </xacro:macro>

    <xacro:macro name="joint_macro"
                 params="parent 
                         child 
                         conn_origin
                         conn_axis=${list([1,0,0])}  
                         type:=fixed">
        <joint name="${parent}_to_${child}" type="${type}">
            <parent link="${parent}"/>
            <child link="${child}"/>
            <xacro:conn_origin conn_name="${conn_origin}"/>
            <axis xyz="${conn_axis[0]} ${conn_axis[1]} ${conn_axis[2]}"/>
        </joint>
    </xacro:macro>

</robot>